body {
    padding-top: 50px;
    padding-bottom: 20px;
    direction: rtl;
    font-size: 12px;
    /*font-size: 16px;*/    /*Add it later*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */
@font-face {
    font-family: IranSansWeb;
    src: url(/fonts/IRANSansWeb.woff);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "IranSansWeb", Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.navbar-inverse {
    font-family: IranSansWeb;
}

.navbar-inverse navbar-fixed-top {
    direction: rtl;
}

.navbar-nav > li  {
    padding-left: 20px;
}

.navbar-nav > li > a {
    font-size: 14px;
}

.navbar-right {
    float: left !important;
    margin-left: 30px;
}

.dropdown-menu {
    margin: 2px -25px 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

ul .dropdown-menu .klishe {
    left: 33px;
    min-width: 136px;
}

.persianHeader {
    text-align: center;
    /*font-family: IranSansWeb;*/
}

.persianHeaderAdd {
    /*font-family: IranSansWeb;*/
}

.btn-persian {
    /*font-family: IranSansWeb;*/
}

.prevent-overlap {
    padding-right: 20px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: solid 2px red;
}

.form-group {
    margin-bottom: 30px;
}

#Shakhes {
   width:70px;
    padding: 8px 4px;
}

select.form-control {
    width: fit-content;
}

.form-control {
    border-radius: 9px;
}

.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.required:after 
{
    content: "*";
    font-weight: bold;
    color: red; 
}

.labelNextToTextbox {
    float: right;
    padding: 7px;
    width: 70px;
    text-align: right;
}

.textboxNextToLabel {
    width:auto;
}


/* DataTable Overrides*/
div.dataTables_wrapper div.dataTables_filter input {
    font-family: IranSansWeb;
    font-size: 14px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 55px;
    padding: 3px 3px;
}

/* Bootbox Overrides */
.btn-left-bootbox {
    margin-left: 20px;
}

