body {
    padding-top: 50px;
    padding-bottom: 20px;
    direction: rtl;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */

@font-face {
    font-family: IranSansWeb;
    src: url(/fonts/IRANSansWeb.woff);
}
.navbar-inverse {
    font-family: IranSansWeb;
}

.navbar-inverse navbar-fixed-top {
    direction: rtl;
}

.navbar-nav > li  {
    padding-left: 20px;
}

.navbar-nav > li > a {
    font-size: 14px;
}

.navbar-right {
    float: left !important;
}

.dropdown-menu {
    margin: 2px -25px 0;
}

.persianHeader {
    text-align: center;
    font-family: IranSansWeb;
}

.persianHeaderAdd {
    font-family: IranSansWeb;
}

.btn-persian {
    font-family: IranSansWeb;
}

.prevent-overlap {
    padding-right: 20px;
}